Rose_Engine/game/Sound/attack/Axe_001.wav
Rose_Engine/game/Sound/attack/Axe_002.wav
Rose_Engine/game/Sound/attack/Axe_D01.wav
Rose_Engine/game/Sound/attack/Axe_D02.wav
Rose_Engine/game/Sound/attack/Axe_D03.wav
Rose_Engine/game/Sound/attack/Axe_H01.wav
Rose_Engine/game/Sound/attack/Axe_H02.wav
Rose_Engine/game/Sound/attack/Bow_001.wav
Rose_Engine/game/Sound/attack/Bow_002.wav
Rose_Engine/game/Sound/attack/Bow_D01.wav
Rose_Engine/game/Sound/attack/Bow_D02.wav
Rose_Engine/game/Sound/attack/Bow_D03.wav
Rose_Engine/game/Sound/attack/Bowgun_001.wav
Rose_Engine/game/Sound/attack/Bowgun_D01.wav
Rose_Engine/game/Sound/attack/Bowgun_D02.wav
Rose_Engine/game/Sound/attack/Bowgun_D03.wav
Rose_Engine/game/Sound/attack/Gun_001.wav
Rose_Engine/game/Sound/attack/Gun_002.wav
Rose_Engine/game/Sound/attack/Gun_003.wav
Rose_Engine/game/Sound/attack/Gun_D01.wav
Rose_Engine/game/Sound/attack/Gun_D02.wav
Rose_Engine/game/Sound/attack/Gun_D03.wav
Rose_Engine/game/Sound/attack/Hands_001.wav
Rose_Engine/game/Sound/attack/Hands_D01.wav
Rose_Engine/game/Sound/attack/Hands_D02.wav
Rose_Engine/game/Sound/attack/Hands_D03.wav
Rose_Engine/game/Sound/attack/Hands_H01.wav
Rose_Engine/game/Sound/attack/Mace_001.wav
Rose_Engine/game/Sound/attack/Mace_002.wav
Rose_Engine/game/Sound/attack/Mace_D01.wav
Rose_Engine/game/Sound/attack/Mace_D02.wav
Rose_Engine/game/Sound/attack/Mace_D03.wav
Rose_Engine/game/Sound/attack/Mace_H01.wav
Rose_Engine/game/Sound/attack/Mace_H02.wav
Rose_Engine/game/Sound/attack/Magic_001.wav
Rose_Engine/game/Sound/attack/Magic_002.wav
Rose_Engine/game/Sound/attack/Magic_D01.wav
Rose_Engine/game/Sound/attack/Magic_D02.wav
Rose_Engine/game/Sound/attack/Magic_D03.wav
Rose_Engine/game/Sound/attack/miss_001.wav
Rose_Engine/game/Sound/attack/miss_002.wav
Rose_Engine/game/Sound/attack/miss_003.wav
Rose_Engine/game/Sound/attack/Spear_001.wav
Rose_Engine/game/Sound/attack/Spear_002.wav
Rose_Engine/game/Sound/attack/Spear_D01.wav
Rose_Engine/game/Sound/attack/Spear_D02.wav
Rose_Engine/game/Sound/attack/Spear_D03.wav
Rose_Engine/game/Sound/attack/Spear_H01.wav
Rose_Engine/game/Sound/attack/Spear_H02.wav
Rose_Engine/game/Sound/attack/Sword_001.wav
Rose_Engine/game/Sound/attack/Sword_002.wav
Rose_Engine/game/Sound/attack/Sword_003.wav
Rose_Engine/game/Sound/attack/Sword_D01.wav
Rose_Engine/game/Sound/attack/Sword_D02.wav
Rose_Engine/game/Sound/attack/Sword_D03.wav
Rose_Engine/game/Sound/attack/Sword_H01.wav
Rose_Engine/game/Sound/attack/Sword_H02.wav
Rose_Engine/game/Sound/attack/Sword_H03.wav
Rose_Engine/game/Sound/avata/Cart_Cell_02.wav
Rose_Engine/game/Sound/avata/Cart_Move_02.wav
Rose_Engine/game/Sound/avata/Cart_Move_RGT_N.wav
Rose_Engine/game/Sound/avata/Cart_Move.wav
Rose_Engine/game/Sound/avata/Cart_Neutral_02.wav
Rose_Engine/game/Sound/avata/Cart_Neutral_RGT_N.wav
Rose_Engine/game/Sound/avata/Cart_Neutral.wav
Rose_Engine/game/Sound/avata/Cart_Off_02.wav
Rose_Engine/game/Sound/avata/Gear_Att01.wav
Rose_Engine/game/Sound/avata/Gear_Att02.wav
Rose_Engine/game/Sound/avata/Gear_Att03.wav
Rose_Engine/game/Sound/avata/Gear_move.wav
Rose_Engine/game/Sound/avata/Gear_Neutral.wav
Rose_Engine/game/Sound/avata/Gear_Neutral2.wav
Rose_Engine/game/Sound/avata/Hu_mr01.wav
Rose_Engine/game/Sound/avata/Levelup_1.wav
Rose_Engine/game/Sound/avata/Quest_E.wav
Rose_Engine/game/Sound/avata/Quest_S.wav
Rose_Engine/game/Sound/avata/Step_grass.wav
Rose_Engine/game/Sound/avata/Step_sand.wav
Rose_Engine/game/Sound/avata/Step_solid.wav
Rose_Engine/game/Sound/avata/Step_water.wav
Rose_Engine/game/Sound/avata/Cart_Cell_02.wav
Rose_Engine/game/Sound/avata/Cart_Move_02.wav
Rose_Engine/game/Sound/avata/Cart_Move_RGT_N.wav
Rose_Engine/game/Sound/avata/Cart_Move.wav
Rose_Engine/game/Sound/avata/Cart_Neutral_02.wav
Rose_Engine/game/Sound/avata/Cart_Neutral_RGT_N.wav
Rose_Engine/game/Sound/avata/Cart_Neutral.wav
Rose_Engine/game/Sound/avata/Cart_Off_02.wav
Rose_Engine/game/Sound/avata/Gear_Att01.wav
Rose_Engine/game/Sound/avata/Gear_Att02.wav
Rose_Engine/game/Sound/avata/Gear_Att03.wav
Rose_Engine/game/Sound/avata/Gear_move.wav
Rose_Engine/game/Sound/avata/Gear_Neutral.wav
Rose_Engine/game/Sound/avata/Gear_Neutral2.wav
Rose_Engine/game/Sound/avata/Hu_mr01.wav
Rose_Engine/game/Sound/avata/Levelup_1.wav
Rose_Engine/game/Sound/avata/Quest_E.wav
Rose_Engine/game/Sound/avata/Quest_S.wav
Rose_Engine/game/Sound/avata/Step_grass.wav
Rose_Engine/game/Sound/avata/Step_sand.wav
Rose_Engine/game/Sound/avata/Step_solid.wav
Rose_Engine/game/Sound/avata/Step_water.wav
Rose_Engine/game/Sound/BGM/BGM_Fedion.ogg
Rose_Engine/game/Sound/BGM/Canyon01_junon.ogg
Rose_Engine/game/Sound/BGM/Dungeon_junon.ogg
Rose_Engine/game/Sound/BGM/Event01_junon.ogg
Rose_Engine/game/Sound/BGM/Event02_carol.ogg
Rose_Engine/game/Sound/BGM/JUNON_WIND.OGG
Rose_Engine/game/Sound/BGM/Lunar_dungeon.ogg
Rose_Engine/game/Sound/BGM/Lunar_field01.ogg
Rose_Engine/game/Sound/BGM/Lunar_field02.ogg
Rose_Engine/game/Sound/BGM/Plain01_eldeon.ogg
Rose_Engine/game/Sound/BGM/Plain01_junon.ogg
Rose_Engine/game/Sound/BGM/Plain02_eldeon.ogg
Rose_Engine/game/Sound/BGM/Plain03_eldeon.ogg
Rose_Engine/game/Sound/BGM/Plain04_eldeon.ogg
Rose_Engine/game/Sound/BGM/plant_warp.ogg
Rose_Engine/game/Sound/BGM/Prologue.ogg
Rose_Engine/game/Sound/BGM/Town01_junon.ogg
Rose_Engine/game/Sound/BGM/Town01_lunar.ogg
Rose_Engine/game/Sound/BGM/Town01_Oro.ogg
Rose_Engine/game/Sound/BGM/Town02_junon_day.OGG
Rose_Engine/game/Sound/BGM/Town02_junon_night.OGG
Rose_Engine/game/Sound/BGM/Town02_Oro.ogg
Rose_Engine/game/Sound/BGM/BGM_Fedion.ogg
Rose_Engine/game/Sound/BGM/Canyon01_junon.ogg
Rose_Engine/game/Sound/BGM/Dungeon_junon.ogg
Rose_Engine/game/Sound/BGM/Event01_junon.ogg
Rose_Engine/game/Sound/BGM/Event02_carol.ogg
Rose_Engine/game/Sound/BGM/JUNON_WIND.OGG
Rose_Engine/game/Sound/BGM/Lunar_dungeon.ogg
Rose_Engine/game/Sound/BGM/Lunar_field01.ogg
Rose_Engine/game/Sound/BGM/Lunar_field02.ogg
Rose_Engine/game/Sound/BGM/Plain01_eldeon.ogg
Rose_Engine/game/Sound/BGM/Plain01_junon.ogg
Rose_Engine/game/Sound/BGM/Plain02_eldeon.ogg
Rose_Engine/game/Sound/BGM/Plain03_eldeon.ogg
Rose_Engine/game/Sound/BGM/Plain04_eldeon.ogg
Rose_Engine/game/Sound/BGM/plant_warp.ogg
Rose_Engine/game/Sound/BGM/Prologue.ogg
Rose_Engine/game/Sound/BGM/Town01_junon.ogg
Rose_Engine/game/Sound/BGM/Town01_lunar.ogg
Rose_Engine/game/Sound/BGM/Town01_Oro.ogg
Rose_Engine/game/Sound/BGM/Town02_junon_day.OGG
Rose_Engine/game/Sound/BGM/Town02_junon_night.OGG
Rose_Engine/game/Sound/BGM/Town02_Oro.ogg
Rose_Engine/game/Sound/interface/Click_01.wav
Rose_Engine/game/Sound/interface/Click_11.wav
Rose_Engine/game/Sound/interface/Click_21.wav
Rose_Engine/game/Sound/interface/Click_22.wav
Rose_Engine/game/Sound/interface/Click_23.wav
Rose_Engine/game/Sound/interface/Click_32.wav
Rose_Engine/game/Sound/interface/Click_01.wav
Rose_Engine/game/Sound/interface/Click_11.wav
Rose_Engine/game/Sound/interface/Click_21.wav
Rose_Engine/game/Sound/interface/Click_22.wav
Rose_Engine/game/Sound/interface/Click_23.wav
Rose_Engine/game/Sound/interface/Click_32.wav
Rose_Engine/game/Sound/item/Getitem_001.wav
Rose_Engine/game/Sound/item/Getitem_002.wav
Rose_Engine/game/Sound/item/Getitem_003.wav
Rose_Engine/game/Sound/item/Getitem_004.wav
Rose_Engine/game/Sound/item/Getitem_005.wav
Rose_Engine/game/Sound/item/Item_351.wav
Rose_Engine/game/Sound/item/Item_801.wav
Rose_Engine/game/Sound/item/item_armor.wav
Rose_Engine/game/Sound/item/item_armor2.wav
Rose_Engine/game/Sound/item/item_arrow.wav
Rose_Engine/game/Sound/item/item_carol.wav
Rose_Engine/game/Sound/item/item_cristal.wav
Rose_Engine/game/Sound/item/item_etc.wav
Rose_Engine/game/Sound/item/item_potion.wav
Rose_Engine/game/Sound/item/item_weapon.wav
Rose_Engine/game/Sound/item/item_weapon2.wav
Rose_Engine/game/Sound/item/item_weapon3.wav
Rose_Engine/game/Sound/item/Useitem_001.wav
Rose_Engine/game/Sound/item/Useitem_002.wav
Rose_Engine/game/Sound/item/Getitem_001.wav
Rose_Engine/game/Sound/item/Getitem_002.wav
Rose_Engine/game/Sound/item/Getitem_003.wav
Rose_Engine/game/Sound/item/Getitem_004.wav
Rose_Engine/game/Sound/item/Getitem_005.wav
Rose_Engine/game/Sound/item/Item_351.wav
Rose_Engine/game/Sound/item/Item_801.wav
Rose_Engine/game/Sound/item/item_armor.wav
Rose_Engine/game/Sound/item/item_armor2.wav
Rose_Engine/game/Sound/item/item_arrow.wav
Rose_Engine/game/Sound/item/item_carol.wav
Rose_Engine/game/Sound/item/item_cristal.wav
Rose_Engine/game/Sound/item/item_etc.wav
Rose_Engine/game/Sound/item/item_potion.wav
Rose_Engine/game/Sound/item/item_weapon.wav
Rose_Engine/game/Sound/item/item_weapon2.wav
Rose_Engine/game/Sound/item/item_weapon3.wav
Rose_Engine/game/Sound/item/Useitem_001.wav
Rose_Engine/game/Sound/item/Useitem_002.wav
Rose_Engine/game/Sound/mob/Bird.wav
Rose_Engine/game/Sound/mob/Bugs01.wav
Rose_Engine/game/Sound/mob/Bugs02.wav
Rose_Engine/game/Sound/mob/Bugs03.wav
Rose_Engine/game/Sound/mob/Bugs04.wav
Rose_Engine/game/Sound/mob/Loud02.wav
Rose_Engine/game/Sound/mob/Mob01_A.wav
Rose_Engine/game/Sound/mob/Mob01_D.wav
Rose_Engine/game/Sound/mob/Mob02_D.wav
Rose_Engine/game/Sound/mob/Mob05_A.wav
Rose_Engine/game/Sound/mob/Mob05_D.wav
Rose_Engine/game/Sound/mob/Mob06_A.wav
Rose_Engine/game/Sound/mob/Mob07_A.wav
Rose_Engine/game/Sound/mob/Mob07_D.wav
Rose_Engine/game/Sound/mob/Mob07_N.wav
Rose_Engine/game/Sound/mob/Mob08_D.wav
Rose_Engine/game/Sound/mob/Mob09_D.wav
Rose_Engine/game/Sound/mob/Mob09_N.wav
Rose_Engine/game/Sound/mob/Mob10_A.wav
Rose_Engine/game/Sound/mob/Mob10_D.wav
Rose_Engine/game/Sound/mob/Mob10_H.wav
Rose_Engine/game/Sound/mob/Mob10_N.wav
Rose_Engine/game/Sound/mob/Mob11_D.wav
Rose_Engine/game/Sound/mob/Mob11_N.wav
Rose_Engine/game/Sound/mob/Mob12_D.wav
Rose_Engine/game/Sound/mob/Mob12_N.wav
Rose_Engine/game/Sound/mob/Mob13_D.wav
Rose_Engine/game/Sound/mob/Mob13_N.wav
Rose_Engine/game/Sound/mob/Mob14_D.wav
Rose_Engine/game/Sound/mob/Mob14_N.wav
Rose_Engine/game/Sound/mob/Mob15_D.wav
Rose_Engine/game/Sound/mob/Mob15_N.wav
Rose_Engine/game/Sound/mob/Mob16_D.wav
Rose_Engine/game/Sound/mob/Mob16_N.wav
Rose_Engine/game/Sound/mob/Mob17_D.wav
Rose_Engine/game/Sound/mob/Mob17_N.wav
Rose_Engine/game/Sound/mob/Mob18_A.wav
Rose_Engine/game/Sound/mob/Mob18_D.wav
Rose_Engine/game/Sound/mob/Mob18_H.wav
Rose_Engine/game/Sound/mob/Mob19_D.wav
Rose_Engine/game/Sound/mob/Mob19_N.wav
Rose_Engine/game/Sound/mob/Mob20_D.wav
Rose_Engine/game/Sound/mob/Mob20_N.wav
Rose_Engine/game/Sound/mob/Mob21_D.wav
Rose_Engine/game/Sound/mob/Mob21_N.wav
Rose_Engine/game/Sound/mob/Mob22_D.wav
Rose_Engine/game/Sound/mob/Mob22_N.wav
Rose_Engine/game/Sound/mob/Mob23_D.wav
Rose_Engine/game/Sound/mob/Mob23_N.wav
Rose_Engine/game/Sound/mob/Mob24_A.wav
Rose_Engine/game/Sound/mob/Mob24_D.wav
Rose_Engine/game/Sound/mob/Mob24_N.wav
Rose_Engine/game/Sound/mob/Mob25_A.wav
Rose_Engine/game/Sound/mob/Mob25_D.wav
Rose_Engine/game/Sound/mob/Mob25_N.wav
Rose_Engine/game/Sound/mob/Mob26_D.wav
Rose_Engine/game/Sound/mob/Mob26_N.wav
Rose_Engine/game/Sound/mob/Mob27_N.wav
Rose_Engine/game/Sound/mob/Mob28_N.wav
Rose_Engine/game/Sound/mob/Mob29_N.wav
Rose_Engine/game/Sound/mob/Mob30_D.wav
Rose_Engine/game/Sound/mob/Mob30_N.wav
Rose_Engine/game/Sound/mob/Mob31_A.wav
Rose_Engine/game/Sound/mob/Mob31_D.wav
Rose_Engine/game/Sound/mob/Mob31_N.wav
Rose_Engine/game/Sound/mob/Mob32_A.wav
Rose_Engine/game/Sound/mob/Mob33_A.wav
Rose_Engine/game/Sound/mob/Mob33_D.wav
Rose_Engine/game/Sound/mob/Mob33_H.wav
Rose_Engine/game/Sound/mob/Mob34_A.wav
Rose_Engine/game/Sound/mob/Mob34_N.wav
Rose_Engine/game/Sound/mob/Mob35_A.wav
Rose_Engine/game/Sound/mob/Mob35_D.wav
Rose_Engine/game/Sound/mob/Mob36_D.wav
Rose_Engine/game/Sound/mob/Shout01.wav
Rose_Engine/game/Sound/mob/Shout02.wav
Rose_Engine/game/Sound/mob/Shout03.wav
Rose_Engine/game/Sound/mob/Shout04.wav
Rose_Engine/game/Sound/mob/Shout05-2.wav
Rose_Engine/game/Sound/mob/Shout05.wav
Rose_Engine/game/Sound/mob/Wind.wav
Rose_Engine/game/Sound/mob/Bird.wav
Rose_Engine/game/Sound/mob/Bugs01.wav
Rose_Engine/game/Sound/mob/Bugs02.wav
Rose_Engine/game/Sound/mob/Bugs03.wav
Rose_Engine/game/Sound/mob/Bugs04.wav
Rose_Engine/game/Sound/mob/Loud02.wav
Rose_Engine/game/Sound/mob/Mob01_A.wav
Rose_Engine/game/Sound/mob/Mob01_D.wav
Rose_Engine/game/Sound/mob/Mob02_D.wav
Rose_Engine/game/Sound/mob/Mob05_A.wav
Rose_Engine/game/Sound/mob/Mob05_D.wav
Rose_Engine/game/Sound/mob/Mob06_A.wav
Rose_Engine/game/Sound/mob/Mob07_A.wav
Rose_Engine/game/Sound/mob/Mob07_D.wav
Rose_Engine/game/Sound/mob/Mob07_N.wav
Rose_Engine/game/Sound/mob/Mob08_D.wav
Rose_Engine/game/Sound/mob/Mob09_D.wav
Rose_Engine/game/Sound/mob/Mob09_N.wav
Rose_Engine/game/Sound/mob/Mob10_A.wav
Rose_Engine/game/Sound/mob/Mob10_D.wav
Rose_Engine/game/Sound/mob/Mob10_H.wav
Rose_Engine/game/Sound/mob/Mob10_N.wav
Rose_Engine/game/Sound/mob/Mob11_D.wav
Rose_Engine/game/Sound/mob/Mob11_N.wav
Rose_Engine/game/Sound/mob/Mob12_D.wav
Rose_Engine/game/Sound/mob/Mob12_N.wav
Rose_Engine/game/Sound/mob/Mob13_D.wav
Rose_Engine/game/Sound/mob/Mob13_N.wav
Rose_Engine/game/Sound/mob/Mob14_D.wav
Rose_Engine/game/Sound/mob/Mob14_N.wav
Rose_Engine/game/Sound/mob/Mob15_D.wav
Rose_Engine/game/Sound/mob/Mob15_N.wav
Rose_Engine/game/Sound/mob/Mob16_D.wav
Rose_Engine/game/Sound/mob/Mob16_N.wav
Rose_Engine/game/Sound/mob/Mob17_D.wav
Rose_Engine/game/Sound/mob/Mob17_N.wav
Rose_Engine/game/Sound/mob/Mob18_A.wav
Rose_Engine/game/Sound/mob/Mob18_D.wav
Rose_Engine/game/Sound/mob/Mob18_H.wav
Rose_Engine/game/Sound/mob/Mob19_D.wav
Rose_Engine/game/Sound/mob/Mob19_N.wav
Rose_Engine/game/Sound/mob/Mob20_D.wav
Rose_Engine/game/Sound/mob/Mob20_N.wav
Rose_Engine/game/Sound/mob/Mob21_D.wav
Rose_Engine/game/Sound/mob/Mob21_N.wav
Rose_Engine/game/Sound/mob/Mob22_D.wav
Rose_Engine/game/Sound/mob/Mob22_N.wav
Rose_Engine/game/Sound/mob/Mob23_D.wav
Rose_Engine/game/Sound/mob/Mob23_N.wav
Rose_Engine/game/Sound/mob/Mob24_A.wav
Rose_Engine/game/Sound/mob/Mob24_D.wav
Rose_Engine/game/Sound/mob/Mob24_N.wav
Rose_Engine/game/Sound/mob/Mob25_A.wav
Rose_Engine/game/Sound/mob/Mob25_D.wav
Rose_Engine/game/Sound/mob/Mob25_N.wav
Rose_Engine/game/Sound/mob/Mob26_D.wav
Rose_Engine/game/Sound/mob/Mob26_N.wav
Rose_Engine/game/Sound/mob/Mob27_N.wav
Rose_Engine/game/Sound/mob/Mob28_N.wav
Rose_Engine/game/Sound/mob/Mob29_N.wav
Rose_Engine/game/Sound/mob/Mob30_D.wav
Rose_Engine/game/Sound/mob/Mob30_N.wav
Rose_Engine/game/Sound/mob/Mob31_A.wav
Rose_Engine/game/Sound/mob/Mob31_D.wav
Rose_Engine/game/Sound/mob/Mob31_N.wav
Rose_Engine/game/Sound/mob/Mob32_A.wav
Rose_Engine/game/Sound/mob/Mob33_A.wav
Rose_Engine/game/Sound/mob/Mob33_D.wav
Rose_Engine/game/Sound/mob/Mob33_H.wav
Rose_Engine/game/Sound/mob/Mob34_A.wav
Rose_Engine/game/Sound/mob/Mob34_N.wav
Rose_Engine/game/Sound/mob/Mob35_A.wav
Rose_Engine/game/Sound/mob/Mob35_D.wav
Rose_Engine/game/Sound/mob/Mob36_D.wav
Rose_Engine/game/Sound/mob/Shout01.wav
Rose_Engine/game/Sound/mob/Shout02.wav
Rose_Engine/game/Sound/mob/Shout03.wav
Rose_Engine/game/Sound/mob/Shout04.wav
Rose_Engine/game/Sound/mob/Shout05-2.wav
Rose_Engine/game/Sound/mob/Shout05.wav
Rose_Engine/game/Sound/mob/Wind.wav
Rose_Engine/game/Sound/skill/action_burn02.wav
Rose_Engine/game/Sound/skill/action_double01.wav
Rose_Engine/game/Sound/skill/action_double02.wav
Rose_Engine/game/Sound/skill/action_double03.wav
Rose_Engine/game/Sound/skill/action_double04.wav
Rose_Engine/game/Sound/skill/action_heavy01.wav
Rose_Engine/game/Sound/skill/action_heavyshot01.wav
Rose_Engine/game/Sound/skill/action_ice01.wav
Rose_Engine/game/Sound/skill/action_ice02.wav
Rose_Engine/game/Sound/skill/action_kickatt01.wav
Rose_Engine/game/Sound/skill/action_leap01.wav
Rose_Engine/game/Sound/skill/action_mana01.wav
Rose_Engine/game/Sound/skill/action_mana02.wav
Rose_Engine/game/Sound/skill/action_shot01.wav
Rose_Engine/game/Sound/skill/action_shot02.wav
Rose_Engine/game/Sound/skill/action_sky01.wav
Rose_Engine/game/Sound/skill/action_sky02.wav
Rose_Engine/game/Sound/skill/action_spin01.wav
Rose_Engine/game/Sound/skill/action_thunder01.wav
Rose_Engine/game/Sound/skill/action_triple01.wav
Rose_Engine/game/Sound/skill/action_triple02.wav
Rose_Engine/game/Sound/skill/action_twister01.wav
Rose_Engine/game/Sound/skill/action_twister02.wav
Rose_Engine/game/Sound/skill/casting_hor01.wav
Rose_Engine/game/Sound/skill/casting_mus01.wav
Rose_Engine/game/Sound/skill/casting_sol01.wav
Rose_Engine/game/Sound/skill/casting01.wav
Rose_Engine/game/Sound/skill/casting02.wav
Rose_Engine/game/Sound/skill/casting03.wav
Rose_Engine/game/Sound/skill/casting04.wav
Rose_Engine/game/Sound/skill/casting05.wav
Rose_Engine/game/Sound/skill/HeavyArr001.wav
Rose_Engine/game/Sound/skill/HeavyAtt_001.wav
Rose_Engine/game/Sound/skill/LeapAtt_001.wav
Rose_Engine/game/Sound/skill/point_burn01.wav
Rose_Engine/game/Sound/skill/point_burn02.wav
Rose_Engine/game/Sound/skill/point_double01.wav
Rose_Engine/game/Sound/skill/point_hdouble01.wav
Rose_Engine/game/Sound/skill/point_heavy01.wav
Rose_Engine/game/Sound/skill/point_htriple01.wav
Rose_Engine/game/Sound/skill/point_ice01.wav
Rose_Engine/game/Sound/skill/point_ice02.wav
Rose_Engine/game/Sound/skill/point_leap01.wav
Rose_Engine/game/Sound/skill/point_luna01.wav
Rose_Engine/game/Sound/skill/point_mana01.wav
Rose_Engine/game/Sound/skill/point_mana02.wav
Rose_Engine/game/Sound/skill/point_shot01.wav
Rose_Engine/game/Sound/skill/point_shot02.wav
Rose_Engine/game/Sound/skill/point_shot03.wav
Rose_Engine/game/Sound/skill/point_shot04.wav
Rose_Engine/game/Sound/skill/point_sky01.wav
Rose_Engine/game/Sound/skill/point_sky02.wav
Rose_Engine/game/Sound/skill/point_spin01.wav
Rose_Engine/game/Sound/skill/point_staff01.wav
Rose_Engine/game/Sound/skill/point_staff02.wav
Rose_Engine/game/Sound/skill/point_thunder01.wav
Rose_Engine/game/Sound/skill/point_triple01.wav
Rose_Engine/game/Sound/skill/point_twin01.wav
Rose_Engine/game/Sound/skill/point_twister01.wav
Rose_Engine/game/Sound/skill/point_twister02.wav
Rose_Engine/game/Sound/skill/point_twister03.wav
Rose_Engine/game/Sound/skill/Skill_attack01.wav
Rose_Engine/game/Sound/skill/Skill_attack02.wav
Rose_Engine/game/Sound/skill/Skill_attack03.wav
Rose_Engine/game/Sound/skill/Skill_attack04.wav
Rose_Engine/game/Sound/skill/Skill_attack05.wav
Rose_Engine/game/Sound/skill/Skill_attack06.wav
Rose_Engine/game/Sound/skill/Skill_attack07.wav
Rose_Engine/game/Sound/skill/Skill_atteco01.wav
Rose_Engine/game/Sound/skill/Skill_magic01.wav
Rose_Engine/game/Sound/skill/Skill_magic02.wav
Rose_Engine/game/Sound/skill/Skill_magic03.wav
Rose_Engine/game/Sound/skill/Skill_magic04.wav
Rose_Engine/game/Sound/skill/Skill_magic05.wav
Rose_Engine/game/Sound/skill/Skill_magic06.wav
Rose_Engine/game/Sound/skill/Skill_magic07.wav
Rose_Engine/game/Sound/skill/Skill_magic08.wav
Rose_Engine/game/Sound/skill/Skill_magicD01.wav
Rose_Engine/game/Sound/skill/Skill_magicD02.wav
Rose_Engine/game/Sound/skill/Skill_manaC01.wav
Rose_Engine/game/Sound/skill/Skill_manaC02.wav
Rose_Engine/game/Sound/skill/Skill_manaC03.wav
Rose_Engine/game/Sound/skill/Skill_narc01.wav
Rose_Engine/game/Sound/skill/Skill_status01.wav
Rose_Engine/game/Sound/skill/Skill_status02.wav
Rose_Engine/game/Sound/skill/Skill_status03.wav
Rose_Engine/game/Sound/skill/Skill_status04.wav
Rose_Engine/game/Sound/skill/Skill_status05.wav
Rose_Engine/game/Sound/skill/Skill_status06.wav
Rose_Engine/game/Sound/skill/Skill_status07.wav
Rose_Engine/game/Sound/skill/Skill_status08.wav
Rose_Engine/game/Sound/skill/Skill_status09.wav
Rose_Engine/game/Sound/skill/Skill_status10.wav
Rose_Engine/game/Sound/skill/Skill_status11.wav
Rose_Engine/game/Sound/skill/Skill_status12.wav
Rose_Engine/game/Sound/skill/Skill_status13.wav
Rose_Engine/game/Sound/skill/Skill_status14.wav
Rose_Engine/game/Sound/skill/Skill_status15.wav
Rose_Engine/game/Sound/skill/action_burn02.wav
Rose_Engine/game/Sound/skill/action_double01.wav
Rose_Engine/game/Sound/skill/action_double02.wav
Rose_Engine/game/Sound/skill/action_double03.wav
Rose_Engine/game/Sound/skill/action_double04.wav
Rose_Engine/game/Sound/skill/action_heavy01.wav
Rose_Engine/game/Sound/skill/action_heavyshot01.wav
Rose_Engine/game/Sound/skill/action_ice01.wav
Rose_Engine/game/Sound/skill/action_ice02.wav
Rose_Engine/game/Sound/skill/action_kickatt01.wav
Rose_Engine/game/Sound/skill/action_leap01.wav
Rose_Engine/game/Sound/skill/action_mana01.wav
Rose_Engine/game/Sound/skill/action_mana02.wav
Rose_Engine/game/Sound/skill/action_shot01.wav
Rose_Engine/game/Sound/skill/action_shot02.wav
Rose_Engine/game/Sound/skill/action_sky01.wav
Rose_Engine/game/Sound/skill/action_sky02.wav
Rose_Engine/game/Sound/skill/action_spin01.wav
Rose_Engine/game/Sound/skill/action_thunder01.wav
Rose_Engine/game/Sound/skill/action_triple01.wav
Rose_Engine/game/Sound/skill/action_triple02.wav
Rose_Engine/game/Sound/skill/action_twister01.wav
Rose_Engine/game/Sound/skill/action_twister02.wav
Rose_Engine/game/Sound/skill/casting_hor01.wav
Rose_Engine/game/Sound/skill/casting_mus01.wav
Rose_Engine/game/Sound/skill/casting_sol01.wav
Rose_Engine/game/Sound/skill/casting01.wav
Rose_Engine/game/Sound/skill/casting02.wav
Rose_Engine/game/Sound/skill/casting03.wav
Rose_Engine/game/Sound/skill/casting04.wav
Rose_Engine/game/Sound/skill/casting05.wav
Rose_Engine/game/Sound/skill/HeavyArr001.wav
Rose_Engine/game/Sound/skill/HeavyAtt_001.wav
Rose_Engine/game/Sound/skill/LeapAtt_001.wav
Rose_Engine/game/Sound/skill/point_burn01.wav
Rose_Engine/game/Sound/skill/point_burn02.wav
Rose_Engine/game/Sound/skill/point_double01.wav
Rose_Engine/game/Sound/skill/point_hdouble01.wav
Rose_Engine/game/Sound/skill/point_heavy01.wav
Rose_Engine/game/Sound/skill/point_htriple01.wav
Rose_Engine/game/Sound/skill/point_ice01.wav
Rose_Engine/game/Sound/skill/point_ice02.wav
Rose_Engine/game/Sound/skill/point_leap01.wav
Rose_Engine/game/Sound/skill/point_luna01.wav
Rose_Engine/game/Sound/skill/point_mana01.wav
Rose_Engine/game/Sound/skill/point_mana02.wav
Rose_Engine/game/Sound/skill/point_shot01.wav
Rose_Engine/game/Sound/skill/point_shot02.wav
Rose_Engine/game/Sound/skill/point_shot03.wav
Rose_Engine/game/Sound/skill/point_shot04.wav
Rose_Engine/game/Sound/skill/point_sky01.wav
Rose_Engine/game/Sound/skill/point_sky02.wav
Rose_Engine/game/Sound/skill/point_spin01.wav
Rose_Engine/game/Sound/skill/point_staff01.wav
Rose_Engine/game/Sound/skill/point_staff02.wav
Rose_Engine/game/Sound/skill/point_thunder01.wav
Rose_Engine/game/Sound/skill/point_triple01.wav
Rose_Engine/game/Sound/skill/point_twin01.wav
Rose_Engine/game/Sound/skill/point_twister01.wav
Rose_Engine/game/Sound/skill/point_twister02.wav
Rose_Engine/game/Sound/skill/point_twister03.wav
Rose_Engine/game/Sound/skill/Skill_attack01.wav
Rose_Engine/game/Sound/skill/Skill_attack02.wav
Rose_Engine/game/Sound/skill/Skill_attack03.wav
Rose_Engine/game/Sound/skill/Skill_attack04.wav
Rose_Engine/game/Sound/skill/Skill_attack05.wav
Rose_Engine/game/Sound/skill/Skill_attack06.wav
Rose_Engine/game/Sound/skill/Skill_attack07.wav
Rose_Engine/game/Sound/skill/Skill_atteco01.wav
Rose_Engine/game/Sound/skill/Skill_magic01.wav
Rose_Engine/game/Sound/skill/Skill_magic02.wav
Rose_Engine/game/Sound/skill/Skill_magic03.wav
Rose_Engine/game/Sound/skill/Skill_magic04.wav
Rose_Engine/game/Sound/skill/Skill_magic05.wav
Rose_Engine/game/Sound/skill/Skill_magic06.wav
Rose_Engine/game/Sound/skill/Skill_magic07.wav
Rose_Engine/game/Sound/skill/Skill_magic08.wav
Rose_Engine/game/Sound/skill/Skill_magicD01.wav
Rose_Engine/game/Sound/skill/Skill_magicD02.wav
Rose_Engine/game/Sound/skill/Skill_manaC01.wav
Rose_Engine/game/Sound/skill/Skill_manaC02.wav
Rose_Engine/game/Sound/skill/Skill_manaC03.wav
Rose_Engine/game/Sound/skill/Skill_narc01.wav
Rose_Engine/game/Sound/skill/Skill_status01.wav
Rose_Engine/game/Sound/skill/Skill_status02.wav
Rose_Engine/game/Sound/skill/Skill_status03.wav
Rose_Engine/game/Sound/skill/Skill_status04.wav
Rose_Engine/game/Sound/skill/Skill_status05.wav
Rose_Engine/game/Sound/skill/Skill_status06.wav
Rose_Engine/game/Sound/skill/Skill_status07.wav
Rose_Engine/game/Sound/skill/Skill_status08.wav
Rose_Engine/game/Sound/skill/Skill_status09.wav
Rose_Engine/game/Sound/skill/Skill_status10.wav
Rose_Engine/game/Sound/skill/Skill_status11.wav
Rose_Engine/game/Sound/skill/Skill_status12.wav
Rose_Engine/game/Sound/skill/Skill_status13.wav
Rose_Engine/game/Sound/skill/Skill_status14.wav
Rose_Engine/game/Sound/skill/Skill_status15.wav
Rose_Engine/game/Sound/Terrain/Beehouse_001.wav
Rose_Engine/game/Sound/Terrain/Bird_001.wav
Rose_Engine/game/Sound/Terrain/Bird_002.wav
Rose_Engine/game/Sound/Terrain/Bird_003.wav
Rose_Engine/game/Sound/Terrain/Bug_001.wav
Rose_Engine/game/Sound/Terrain/Bug_002.wav
Rose_Engine/game/Sound/Terrain/Bug_003.wav
Rose_Engine/game/Sound/Terrain/Fire_001.wav
Rose_Engine/game/Sound/Terrain/Motor_001.wav
Rose_Engine/game/Sound/Terrain/Reed_001.wav
Rose_Engine/game/Sound/Terrain/stream-heavy.wav
Rose_Engine/game/Sound/Terrain/Water_001.wav
Rose_Engine/game/Sound/Terrain/Water_002.wav
Rose_Engine/game/Sound/Terrain/Water_003.wav
Rose_Engine/game/Sound/Terrain/Wind_001.wav
Rose_Engine/game/Sound/Terrain/Wind_002.wav
Rose_Engine/game/Sound/Terrain/Wind_003.wav
Rose_Engine/game/Sound/Terrain/Windmill_001.wav
Rose_Engine/game/Sound/Terrain/Beehouse_001.wav
Rose_Engine/game/Sound/Terrain/Bird_001.wav
Rose_Engine/game/Sound/Terrain/Bird_002.wav
Rose_Engine/game/Sound/Terrain/Bird_003.wav
Rose_Engine/game/Sound/Terrain/Bug_001.wav
Rose_Engine/game/Sound/Terrain/Bug_002.wav
Rose_Engine/game/Sound/Terrain/Bug_003.wav
Rose_Engine/game/Sound/Terrain/Fire_001.wav
Rose_Engine/game/Sound/Terrain/Motor_001.wav
Rose_Engine/game/Sound/Terrain/Reed_001.wav
Rose_Engine/game/Sound/Terrain/stream-heavy.wav
Rose_Engine/game/Sound/Terrain/Water_001.wav
Rose_Engine/game/Sound/Terrain/Water_002.wav
Rose_Engine/game/Sound/Terrain/Water_003.wav
Rose_Engine/game/Sound/Terrain/Wind_001.wav
Rose_Engine/game/Sound/Terrain/Wind_002.wav
Rose_Engine/game/Sound/Terrain/Wind_003.wav
Rose_Engine/game/Sound/Terrain/Windmill_001.wav
Rose_Engine/game/SGCC.exe
Rose_Engine/game/TCheck.dll
Rose_Engine/game/TriggerDetect.exe
Rose_Engine/game/TriggerVFS.dll
Rose_Engine/game/TRose.exe
Rose_Engine/game/TSGUI.dll
Rose_Engine/game/TSHWI.dll
Rose_Engine/game/TSVFS.dll
Rose_Engine/game/unicows.dll
Rose_Engine/game/UNZDLL.dll
Rose_Engine/game/USP10.DLL
Rose_Engine/game/zlib1.dll
Rose_Engine/game/znzin.dll
Rose_Engine/game/TCheck.dll
Rose_Engine/game/RoUpdate.exe
Rose_Engine/game/Sound/Terrain/Windmill_001.wav
Rose_Engine/game/3DData/Control/Loading/welcome.dds
Rose_Engine/game/3DDATA.VFS
Rose_Engine/game/angp32.dll
Rose_Engine/game/BASIC.VFS
Rose_Engine/game/BugGUARD.dll
Rose_Engine/game/data.idx
Rose_Engine/game/DATA.VFS
Rose_Engine/game/dbgeng.dll
Rose_Engine/game/dbghelp.dll
Rose_Engine/game/expat.dll
Rose_Engine/game/GROUND.VFS
Rose_Engine/game/IJL15.dll
Rose_Engine/game/Logo.dds
Rose_Engine/game/MAP.VFS
Rose_Engine/game/onig.dll
Rose_Engine/game/RoseEvo_137.exe
Rose_Engine/game/ROSEonline.exe
